
/* Background */
html{ 
	background-image: url('../images/pattern/pattern-1.png');
	background-repeat: repeat; 
}

/* Logo */
.logo-wrapper{ 
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: 33px;
}
.navigation-wrapper{
	margin-top: 56px;
}
  
/* Font Size */
h1{
	font-size: 30px;
}
h2{
	font-size: 25px;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 16px;
}
h6{
	font-size: 15px;
}

/* Element Color */
   
html{
	background-color: #f5f5f5;
}
div.social-icon, /* to fix IE problem */
div.container{
	background: #ffffff;
}
div.divider{
	border-bottom: 1px solid #ececec;
}

/* Font Family */
body{
	font-family: Droid Sans;
}
h1, h2, h3, h4, h5, h6, .gdl-title{
	font-family: default -;
}
.stunning-text-wrapper{
	background-color: #ffffff !important;
	border-bottom: 1px solid #dddddd;
}
h1.stunning-text-title{
	font-family: default -;
	color: #333333;
}
.gdl-slider-title{
	font-family: Merriweather;
}
.stunning-text-caption{
	color: #8c8c8c;
}
  
/* Font Color */
body{
	/* color: #919191 !important; */
	color: #706565 !important;
}
.footer-wrapper a{
	color: #0a0a0a;
}
a{
	color: #272727;
}
.gdl-link-title{
	color: #272727 !important;
}
a:hover{
	color: #a1a1a1;
}
.footer-wrapper a:hover{
	color: #a8a8a8;
}
h1, h2, h3, h4, h5, h6, .title-color{
	color: #383838;
}
div.gdl-page-title-left-bar{
	background-color: #e3e3e3;
}
div.gdl-page-caption{
	color: #7d7d7d;
}
.sidebar-title-color{
	color: #191919 !important;
}

/* Slider Color */
.gdl-slider-title{
	color: #ffffff !important;
}  
.gdl-slider-caption, .nivo-caption{
		color: #ffffff !important;
}  
.flex-control-nav li a span,
.nivo-controlNav a span,
div.anythingSlider .anythingControls ul a span{
	background-color: #c5c5c5 !important;
}
.nivo-controlNav a:hover span,
.nivo-controlNav a.active span,
.flex-control-nav li a:hover span,
.flex-control-nav li a.active span,
div.anythingSlider .anythingControls ul a:hover span,
div.anythingSlider .anythingControls ul a.cur span{
	background-color: #4e4e4e !important;
}
.flex-caption{
	background-color: #000000 !important;
}

/* Post/Port Color */
.post-title-color{
	color: #2b2b2b !important;
}
.post-title-color a:hover{
	color: #696969 !important;
}
div.single-port-little-bar{
	border-color: #b4b4b4 !important;
}
.single-port-info span.head,
.single-info-header,
.blog-info-header{
	color: #212121 !important;
}
.port-info-color, .port-info-color a,
.post-info-color, .post-info-color a, 
div.custom-sidebar #twitter_update_list{
	color: #9e9e9e !important;
}
div.pagination a{ background-color: #f9f9f9; }

.about-author-wrapper{
	background-color: #f9f9f9 !important;
}
.tagcloud a{
	background-color: #fff !important;
}
div.footer-widget-wrapper .tagcloud a{
	background-color: #fff !important;
}

/* Column Service */
h2.column-service-title{
	color: #404040 !important;
}

/* Footer Color */
.footer-widget-wrapper .custom-sidebar-title{ 
	color: #1a1a1a !important;
}
.footer-wrapper{ 
	background-color: #eaeaea !important;
}
.footer-wrapper .gdl-divider,
.footer-wrapper .custom-sidebar.gdl-divider div,
.footer-wrapper .custom-sidebar.gdl-divider ul li{
	border-color: #d1d1d1 !important;
}
.footer-wrapper, .footer-wrapper table th{
	color: #888888 !important;
}
.footer-wrapper .post-info-color, div.custom-sidebar #twitter_update_list{
	color: #aaaaaa !important;
}
div.footer-wrapper div.contact-form-wrapper input[type="text"], 
div.footer-wrapper div.contact-form-wrapper input[type="password"], 
div.footer-wrapper div.contact-form-wrapper textarea, 
div.footer-wrapper div.custom-sidebar #search-text input[type="text"], 
div.footer-wrapper div.custom-sidebar .contact-widget-whole input, 
div.footer-wrapper div.custom-sidebar .contact-widget-whole textarea {
	color: #888888 !important; 
	background-color: #d4d4d4 !important;
	border: 1px solid #d4d4d4 !important;
}
div.footer-wrapper a.button, div.footer-wrapper button, div.footer-wrapper button:hover {
	color: #e8e8e8 !important; 
	background-color: #222222 !important;
}
div.copyright-wrapper{ 
	background-color: #202020 !important; 
	color: #808080 !important;
}
div.copyright-wrapper{
		-moz-box-shadow:inset 0px 3px 6px -3px #111111;
	-webkit-box-shadow:inset 0px 3px 6px -3px #111111;
	box-shadow:inset 0px 3px 6px -3px #111111; 
}
div.footer-wrapper div.custom-sidebar .recent-post-widget-thumbnail {  
	background-color: #ffffff; 
	border-color: #ffffff;
}

/* Divider Color */
.scroll-top{ 
	color: #7c7c7c !important;
}
.gdl-divider,
.custom-sidebar.gdl-divider div,
.custom-sidebar.gdl-divider .custom-sidebar-title,
.custom-sidebar.gdl-divider ul li{
	border-color: #ececec !important;
}
table th{
	color: #666666;
	background-color: #f7f7f7;
}
table, table tr, table tr td, table tr th{
	border-color: #e5e5e5;
}

/* Testimonial Color */
.testimonial-content{
	color: #848484 !important;
}
.testimonial-author-name{
	color: #494949 !important;
}
.testimonial-author-position{
	color: #8d8d8d !important;
}

/* Tabs Color */
ul.tabs{
	border-color: #dddddd !important;
}
ul.tabs li a {
	color: #666666 !important;
	background-color: #f5f5f5 !important;
	border-color: #dddddd !important;
}
ul.tabs li a.active {
	color: #111111 !important;
	background-color: #ffffff !important;
}

/* Navigation Color */
.navigation-wrapper .sf-menu ul,
.navigation-wrapper .sf-menu ul li{
	border-color: #ececec !important;
}
.sf-menu li li{
	background-color: #fdfdfd !important;
}
.navigation-wrapper .sf-menu li a{
	color: #7d7d7d !important;
}
.navigation-wrapper .sf-menu ul a,
.navigation-wrapper .sf-menu .current-menu-item ul a{
	color: #7d7d7d !important;
}
.navigation-wrapper .sf-menu ul a:focus,
.navigation-wrapper .sf-menu ul a:active,
.navigation-wrapper .sf-menu ul a:hover,
.navigation-wrapper .sf-menu .current-menu-item ul a:focus,
.navigation-wrapper .sf-menu .current-menu-item ul a:active,
.navigation-wrapper .sf-menu .current-menu-item ul a:hover{
	color: #343434 !important;
}
.navigation-wrapper .sf-menu a:focus, 
.navigation-wrapper .sf-menu a:hover, 
.navigation-wrapper .sf-menu a:active{
	color: #343434 !important;
} 
.navigation-wrapper .sf-menu .current-menu-item a {
	color: #343434 !important;
}
.navigation-wrapper .sf-menu ul .current-menu-item a {
	color: #343434 !important;
}
.search-wrapper{
	border-left: 1px solid;
}
.search-wrapper form{
	border-left: 1px solid;
}


/* Button Color */
a.button, button, input[type="submit"], input[type="reset"], input[type="button"],
a.gdl-button{
	background-color: #f1f1f1;
	color: #7a7a7a;
	border: 1px solid #dedede}

a.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
a.gdl-button:hover{
	color: #7a7a7a;
}
   
/* Price Item */   
div.gdl-price-item .gdl-divider{ 
	border-color: #ececec !important;
}
div.gdl-price-item .price-title{
	background-color: #f3f3f3 !important;
	color: #3a3a3a !important;
}
div.gdl-price-item .price-item.active .price-title{ 
	background-color: #2e2e2e !important;
	color: #ffffff !important;
}
div.gdl-price-item .price-tag{
	color: #3a3a3a !important;
}
div.gdl-price-item .price-item.active .price-tag{
		color: #000000 !important;
}
div.gdl-price-item .price-item.active{
	border-top: 1px solid #000000 !important;
}
/* Contact Form
   ================================= */
div.contact-form-wrapper input[type="text"], 
div.contact-form-wrapper input[type="password"],
div.contact-form-wrapper textarea,
div.custom-sidebar #search-text input[type="text"],
div.custom-sidebar .contact-widget-whole input, 
div.comment-wrapper input[type="text"], input[type="password"], div.comment-wrapper textarea,
div.custom-sidebar .contact-widget-whole textarea,
span.wpcf7-form-control-wrap input[type="text"], 
span.wpcf7-form-control-wrap input[type="password"], 
span.wpcf7-form-control-wrap textarea{
	color: #888888;
	background-color: #ffffff;
	border: 1px solid #cfcfcf;

	-webkit-box-shadow: #ececec 0px 1px 4px inset, #f8f8f8 -5px -5px 0px 0px, #f8f8f8 5px 5px 0px 0px, #f8f8f8 5px 0px 0px 0px, #f8f8f8 0px 5px 0px 0px, #f8f8f8 5px -5px 0px 0px, #f8f8f8 -5px 5px 0px 0px;
	box-shadow: #ececec 0px 1px 4px inset, #f8f8f8 -5px -5px 0px 0px, #f8f8f8 5px 5px 0px 0px, #f8f8f8 5px 0px 0px 0px, #f8f8f8 0px 5px 0px 0px, #f8f8f8 5px -5px 0px 0px, #f8f8f8 -5px 5px 0px 0px;
}

/* Icon Type (dark/light)
   ================================= */

div.single-port-next-nav a,
div.single-port-prev-nav a{ background: url('../images/icon/dark/port-nav.png') no-repeat; }

div.single-thumbnail-author,
div.archive-wrapper .blog-item .blog-thumbnail-author,
div.blog-item-holder .blog-item2 .blog-thumbnail-author{ background: url('../images/icon/dark/author.png') no-repeat 0px 1px; }

div.single-thumbnail-date,
div.custom-sidebar .recent-post-widget-date,
div.archive-wrapper .blog-item .blog-thumbnail-date,
div.blog-item-holder .blog-item1 .blog-thumbnail-date,
div.blog-item-holder .blog-item2 .blog-thumbnail-date{ background: url('../images/icon/dark/calendar.png') no-repeat 0px 1px; }

div.single-thumbnail-comment,
div.archive-wrapper .blog-item .blog-thumbnail-comment,
div.blog-item-holder .blog-item1 .blog-thumbnail-comment,
div.blog-item-holder .blog-item2 .blog-thumbnail-comment,
div.custom-sidebar .recent-post-widget-comment-num{ background: url('../images/icon/dark/comment.png') no-repeat 0px 1px; }

div.single-thumbnail-tag,
div.archive-wrapper .blog-item .blog-thumbnail-tag,
div.blog-item-holder .blog-item2 .blog-thumbnail-tag{ background: url('../images/icon/dark/tag.png') no-repeat; }

div.custom-sidebar #searchsubmit,	
div.search-wrapper input[type="submit"]{ background: url('../images/icon/dark/find-17px.png') no-repeat center; }	

div.single-port-visit-website{ background: url('../images/icon/dark/link-small.png') no-repeat 0px 2px; }

span.accordion-head-image.active,
span.toggle-box-head-image.active{ /* background: url('../images/icon/dark/minus-24px.png'); */ }
span.accordion-head-image,
span.toggle-box-head-image{ /* background: url('../images/icon/dark/plus-24px.png'); */ }

div.jcarousellite-nav .prev, 
div.jcarousellite-nav .next{ background-image: url('../images/icon/dark/navigation-20px.png'); } 

div.testimonial-icon{ background: url("images/icon/dark/quotes-18px.png"); }

div.custom-sidebar ul li{ background: url('../images/icon/dark/arrow4.png') no-repeat 0px 14px; }

div.gdl-portfolio-title-wrapper,
div.gdl-page-title-wrapper{
	background: url('../images/icon/dark/title-bg.png'); 
}

div.stunning-text-wrapper{ 
	background: url('../images/icon/dark/stunning-text-bg.png'); 
}
div.stunning-text-corner{
	background: url('../images/icon/dark/stunning-text-corner.png'); 
}

/* Footer Icon Type
   ================================= */
div.footer-wrapper div.custom-sidebar ul li { background: url('../images/icon/light/arrow4.png') no-repeat 0px 14px; }
div.footer-wrapper div.custom-sidebar #searchsubmit { background: url('../images/icon/light/find-17px.png') no-repeat center; }
div.footer-wrapper div.custom-sidebar .recent-post-widget-comment-num { background: url('../images/icon/light/comment.png') no-repeat 0px 1px; }
div.footer-wrapper div.custom-sidebar .recent-post-widget-date{ background: url('../images/icon/light/calendar.png') no-repeat 0px 1px; }

/* Elements Shadow
   ================================= */

a.button, button, input[type="submit"], input[type="reset"], input[type="button"], 
a.gdl-button{
	-moz-box-shadow: 1px 1px 3px #ececec;
	-webkit-box-shadow: 1px 1px 3px #ececec;
	box-shadow: 1px 1px 3px #ececec; 
}

div.gdl-price-item .price-item.active{ 
	-moz-box-shadow: 0px 0px 3px #ececec;
	-webkit-box-shadow: 0px 0px 3px #ececec;
	box-shadow: 0px 0px 3px #ececec;
}

div.stunning-text-corner{ width: 11px; height: 11px; position: absolute; }
div.stunning-text-corner.top{ top: 0px; left: 0px; }
div.stunning-text-corner.bottom{ background-position: -11px 0px; bottom: 0px; right: 0px; }

div.column-service-learn-more{ font-style: italic; margin-top: 8px; }
div#custom-full-background { z-index: -1; }

.aligncenter { text-align: center }
